.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rc-calendar-range.week-calendar {
  width: 602px;
  overflow: visible;
}
.week-calendar .rc-calendar-tbody > tr:hover
.rc-calendar-date {
  background: #ebfaff;
}

.week-calendar .rc-calendar-tbody > tr:hover
.rc-calendar-selected-day .rc-calendar-date {
    background: #3fc7fa;
}

.week-calendar .week-calendar-sidebar {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  width:100px;    
}
.week-calendar .week-calendar-sidebar-top {
  position:absolute;
  top:-294px;
  left:0;
  height:38px;
  z-index: 1001;
  padding: 1px;
}
.week-calendar-sidebar-top>.week-calendar-input-wrap{
  width: 106px;
  float: left;
  overflow: hidden;
  height: 38px;
}
.week-calendar-date-input-wrap>.week-calendar-input{
  width: 106px;
  height: 38px;
  /* border: 1px solid rgb(204, 204, 204); */
  /* background-clip: padding-box; */
  border: none;
  font-size: 16px;
}
.week-calendar .rc-calendar-panel {
  margin-right: 100px;
}
.rc-calendar-range-middle{
  display: none;
}
a.rc-calendar-time-picker-btn{
  display: none;
}
a.rc-calendar-ok-btn-disabled{
  background-color: blue;
}
a.rc-calendar-ok-btn{
  line-height: 1.5;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  height: 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  position: relative;
  color: blue;
  border-color: blue;
}
.rc-calendar-range-left>.rc-calendar-input-wrap{
  position: absolute;
  width: 100px;
  top: -40px;
}
.rc-calendar-range-left>.rc-calendar-input-wrap::before{
  position: absolute;
  z-index: -1;
  width: 250px;
  height: 100px;
  content: "%";
  background: #3fc7fa;
}
.rc-calendar-range-left>.rc-calendar-input-wrap::after{
  position: absolute;
  content: "-";
  left: 100px;
  top: 0;
}
.rc-calendar-range-right>.rc-calendar-input-wrap{
  position: absolute;
  width: 100px;
  top: -40px;
  left: -120px;
}
